/* Digital Clock Program */

/* style/style.css */

/* giving the body and html elements 100% height and removing margin */
html, body{
    height: 100%;
    margin: 0;
}

/* styling the body */
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* styling the clock box */
#clock-box{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}